body {
    background-color: rgb(122, 28, 28);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background-color: bisque;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color:white;
}
header h1 {
    color: darkgreen;
    font-weight: 600;
    font-size: 3.5rem;
}
#main-button {
    border:none;
    background-color: darkgreen;
    color:red;

}
#mascot {
    float:right;
}
#tagline {
    font-weight:600;
    font-size: 1.8rem;
    color:red;
}