<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Large Joe's super Pizza (DEFUNCT)</title>
    <!-- Stolen Icon -->
    <link rel="icon" href="Images/Pizza.png">
     <link rel="stylesheet" href="ComboSuperSausage.CSS">
     <script src="js/pizza.js" defer></script>
</head>
<body>
    <main>
        <header>
            <img src="Images/Mascot.png" alt="Pizza Mascot" id ="mascot">
            <h1>Large Joe's Super Pizza (DEFUNCT)</h1>
            <p id="tagline">Currently closed due to 74 complaints from the health inspection department</p>
            <a id="main-button" href="#" role="button"> Contact us (Currently offline)</a>
            <hr>
        </header>
        <div id="warning">
        <p>Large Joe's super Pizza is closed idefinitely due to exessive health issues. As of 9/1/2005 there are no plans for repoening. Customers are discouraged from visitng the location due to structural issues with the building, and the Health department encourages them to instead purchase Pizza from a reputable restaurant.</p>
        </div>
        <h1>Please don't contact us. This Place is closed.</h1>
        <a id="main-button" href="/" role="button">Return to main page</a>
    </main>
</body>
</html>